name: CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Log in to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ 77antonovqwertyop77 }}
        password: ${{ qeNMo1vgz24 }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: 77antonovqwertyop77/my-nginx-server:latest

    - name: Update Helm chart
      uses: helm/chart-releaser-action@v1
      with:
        charts-dir: ./charts
      env:
        GITHUB_TOKEN: ${{ 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 }}
